<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    
    <p><span style="font-weight: 400;">The Participatory Budgeting Project is committed to protecting your personal
        information. This page covers how we will process any personal information we collect from you or that you
        provide to us through the website.</span></p>

    <h3>SECTION 1 – WHAT DO WE DO WITH YOUR INFORMATION?</h3>

    <p>When you submit your information to sign up for our newsletter, inquire about our services, or to get a
      download, we collect the personal information you give us such as your name, organization, and email address.</p>

    <p>When you sign up for our newsletter or check the Newsletter opt-in box with a download, we will send you
      emails about our work, new programs and other updates as advertised.</p>

    <h3>COOKIES</h3>

    <p>When you browse our site, we also automatically receive your computer’s internet protocol (IP) address in
      order to provide us with information that helps us learn about your browser and operating system and <span
        style="font-weight: 400;">to understand more about how our site is used and in turn to make sure that the
        site meets your needs.</span></p>

    <p><span style="font-weight: 400;">To do this we may send “cookies to your” browser. If you don’t want cookies to
        be stored on your PC it is possible to disable this function within your browser without affecting your
        navigation around the site;</span><a href="https://www.eff.org/privacybadger"> <span style="font-weight: 400;">here’s
          one tool</span></a><span style="font-weight: 400;">.</span></p>

    <h3>SECTION 2 – CONSENT</h3>

    <h4>How do you get my consent?</h4>

    <p>When you provide us with personal information to sign up for our newsletter, complete a donation, request
      information from us, or share your contact information to get a download, we ask that you consent to our
      collecting it and using it to deliver email updates, informational replies, or donation/download confirmation
      as you’ve specifically requested.</p>

    <p>When you sign up for a download, we also ask for consent to use your information for a secondary reason, like
      updates (marketing); when we do use your information for this reason, we will always provide you with an
      opportunity to opt out.</p>

    <h4>How do I withdraw my consent?</h4>

    <p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the
      continued collection, use or disclosure of your information, at anytime, by using the unsubscribe button in
      update emails or contacting us at info@participatorybudgeting.org or mailing us at: The Participatory Budgeting
      Project 540 President St., Suite 1, Brooklyn, NY, 11215, United States</p>

    <h3>SECTION 3 – DISCLOSURE</h3>

    <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of
      Service. &nbsp;<span style="font-weight: 400;">We will not use your data for any other purpose other than
        stated in this notice. In particular, we will not share it with any third-parties for marketing purposes.</span></p>

    <h3>SECTION 4 – THIRD-PARTY SERVICES</h3>

    <p>In general, the third-party providers used by us will only collect, use and disclose your information to the
      extent necessary to allow them to perform the services they provide to us.</p>

    <p>However, certain third-party service providers, such as payment gateways and other payment transaction
      processors, have their own privacy policies in respect to the information we are required to provide to them
      for your purchase-related transactions.</p>

    <p>For these providers, we recommend that you read their privacy policies so you can understand the manner in
      which your personal information will be handled by these providers.</p>

    <p>In particular, remember that certain providers may be located in or have facilities that are located in a
      different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the
      services of a third-party service provider, then your information may become subject to the laws of the
      jurisdiction(s) in which that service provider or its facilities are located.</p>

    <p>As an example, if you are located in Canada and your transaction is processed by a payment gateway located in
      the United States, then your personal information used in completing that transaction may be subject to
      disclosure under United States legislation, including the Patriot Act.</p>

    <p>Once you leave our website or are redirected to a third-party website or application, you are no longer
      governed by this Privacy Policy or our website’s Terms of Service.</p>

    <h4>Links</h4>

    <p>When you click on links on our site, they may direct you away from our site. We are not responsible for the
      privacy practices of other sites and encourage you to read their privacy statements.</p>
    <p>&nbsp;</p>

    <h3>SECTION 5 – SECURITY</h3>

    <p>To protect your personal information, we take reasonable precautions and follow industry best practices to
      make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. <span style="font-weight: 400;">We
        take precautions to protect your information. </span></p>

    <p><span style="font-weight: 400;">Wherever we collect sensitive information (such as credit card data), that
        information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock
        icon in the address bar and looking for “https” at the beginning of the address of the Web page. </span></p>

    <p>If you provide us with your credit card information, the information is encrypted using secure socket layer
      technology (SSL) and stored with a trusted third party (Stripe or PayPal). &nbsp;Although no method of
      transmission over the Internet or electronic storage is 100% secure, our partners implement accepted industry
      standards.</p>

    <h3>SECTION 6 – AGE OF CONSENT</h3>

    <p>By using this site, you represent that you are at least the age of majority in your state or province of
      residence, or that you are the age of majority in your state or province of residence and you have given us
      your consent to allow any of your minor dependents to use this site.</p>
    <p>&nbsp;</p>

    <h3>SECTION 7 – CHANGES TO THIS PRIVACY POLICY</h3>

    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and
      clarifications will take effect immediately upon their posting on the website. If we make material changes to
      this policy, we will notify you here that it has been updated, so that you are aware of what information we
      collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>

    <h3>QUESTIONS AND CONTACT INFORMATION</h3>

    <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a
      complaint, or simply want more information contact our Privacy Compliance Officer at
      info@participatorybudgeting.org or by mail at The Participatory Budgeting Project</p>
    [Re: Privacy Compliance Officer]
    [540 President St., Suite 1, Brooklyn, NY, 11215, United States]

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
