<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">
  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO, PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES DEL PORTAL WEB DECIDE PUERTO REAL DEL AYUNTAMIENTO DE PUERTO REAL</h2>

    <h3>1. Ámbito de aplicación de las condiciones de uso</h3>
    <p>La participación (entendiéndola como participación activa más allá de la lectura del contenido presente) en el Portal de Participación Ciudadana del Ayunamiento de Puerto Real(Decide Puerto Real a partir de ahora) se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
    <p>El Ayuntamiento de Puerto Real se reserva la facultad de modificar las presentes condiciones de uso para la participación en Decide Puerto Real, cuya última versión se publicará en este sitio web.</p>
    <p>La participación en Decide Puerto Real se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
    <p>El Ayuntamiento de Puerto Real se reserva la facultad de modificar las presentes condiciones de uso de Decide Puerto Real cuya última versión se publicará en este sitio web.</p>

    <h3>2. Objetivo de la iniciativa</h3>
    <p>A través de Decide Puerto Real se quiere fomentar la participación de los ciudadanos en la gestión de la ciudad, implicándoles en la generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida por una gestión más cercana a los ciudadanos que permitirá recibir sus propuestas y además, crear canales directos de comunicación con el gobierno municipal, contribuyendo a tomar las decisiones más acertadas para el interés general.</p>
    <h3>3. Cuestiones generales sobre la participación en Decide Puerto Real</h3>
    <p>Podrá participar cualquier persona física a partir de los 16 años que se haya registrado previamente en Decide Puerto Real. Mediante la aceptación de estas condiciones de uso se declara tener 16 años o más. Los mayores de edad a cuyo cargo se encuentran los menores, son los plenos responsables de la actuación que tengan éstos en Decide Puerto Real. No existe limitación en cuanto al número de comentarios a presentar por los participantes.</p>
    <p>Al introducir el título de las propuestas, se recomienda escribir una descripción breve y precisa con un máximo de 2000 caracteres. Para completar la argumentación se podrán asociar documentos adjuntos o de las Redes Sociales Vimeo, Youtube, Slideshare, Flickr o SoundCloud.</p>

    <h3>4. Obligaciones de los usuarios de Decide Puerto Real</h3>
    <p>Al ser el Ayuntamiento de Puerto Real un punto de encuentro cuyo objetivo es debatir, y compartir y valorar propuestas relacionadas con la mejora de la ciudad, los usuarios están obligados a hacer un uso diligente y acorde a dicho objetivo.</p>
    <p>El Ayuntamiento de Puerto Real no es responsable del uso incorrecto de Decide Puerto Real por los usuarios o de los contenidos localizados en el mismo, <strong>siendo cada usuario responsable de su  uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.</strong></p>
    <p>El Ayuntamiento de Puerto Real se reserva, por lo tanto, el derecho a limitar el acceso a Decide Puerto Real de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, pudiendo instalar filtros a tal efecto. Todo ello se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental.</p>
    <p>De acuerdo a la normativa legal vigente <strong>queda prohibida</strong> la utilización de Decide Puerto Real con fines distintos a los de debatir, compartir y valorar propuestas,  y específicamente:</p>
    <p><li>Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</li></p>
    <p><li>Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</li></p>
    <p><li>Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.</li></p>
    <p><li>Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos.</li></p>
    <p><li>Su utilización con fines de publicidad.</li></p>
    <p>La realización de cualquiera de los anteriores comportamientos permitirá al Ayuntamiento de Puerto Real suspender temporalmente la actividad de un participante, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.</p>
    <p>En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Ayuntamiento de Puerto Real no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.</p>
    <p>En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, el Ayuntamiento de Puerto Real quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.</p>

    <h3>5. Uso de Decide Puerto Real</h3>
    <p>Los participantes podrán acceder y navegar por Decide Puerto Real libremente y de forma anónima. Sólo cuando quieran realizar alguna acción que implique la creación, apoyo o comentario de una propuesta, se le solicitará que introduzca sus credenciales, para cuya obtención será necesario registrarse previamente. El registro que permitirá participar comentando en cualquiera de las secciones, creando propuestas, se realizará introduciendo los siguientes datos:</p>
    <ul>
      <li>Nombre de usuario</li>
      <li>Correo electrónico</li>
      <li>Aceptación de las condiciones de uso de el Portal de Gobierno Abierto</li>
    </ul>

    <p>Para participar apoyando propuestas, al usuario se le requerirá que verifique su cuenta cumpliendo que tiene 16 años o más y está empadronado en Puerto Real, para lo cual se le guiará a través de una serie de pasos donde se le solicitarán datos relativos al padrón y un medio de comunicación a través del cual facilitarle uno o dos códigos seguros para completar la verificación de su cuenta (dependiendo del medio de comunicación elegido por el usuario).</p>

    <p>El usuario podrá interactuar con la herramienta interviniendo, al menos, de las siguientes formas:</p>

    <h4>PROPUESTAS</h4>
    <p>En el apartado de propuestas ciudadanas el usuario podrá participar:</p>
    <ul>
      <li><u>Creando una propuesta</u>. Cada usuario podrá dar de alta una o más propuestas. Las propuestas serán publicadas automáticamente.</li>
      <li><u>Apoyando las propuestas creadas por los usuarios</u>. Las propuestas aparecerán con el número de apoyos recibidos. Cada usuario podrá exclusivamente apoyar una vez a una misma propuesta. </li>
      <li><u>Comentando las propuestas del resto de usuarios</u>. Cada propuesta podrá ser comentada por el resto de usuarios, pudiendo argumentar las razones del apoyo o introducir mejoras a la misma.</li>
    </ul>

    <h3>6. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</h3>
    <p>Las presentes condiciones regulan los términos aplicables al contenido remitido por los usuarios de esta plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido a Decide Puerto Real como a cualquier contenido que se envíe con posterioridad o se manifieste al Ayuntamiento de Puerto Real, debiendo significarse lo siguiente:</p>
    <ul>
      <li>A. No Confidencialidad: Todo el contenido remitido por el usuario al Ayuntamiento de Puerto Real deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Ayuntamiento de Puerto Real tratará el citado contenido como información no confidencial.</li>
      <li>B. Procedimiento: En el caso de que el Ayuntamiento de Puerto Real esté interesado en el contenido remitido por el usuario, se pondrá en contacto con él para solicitarle información adicional. Dicha información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente Acuerdo de Confidencialidad.<br><br>
        El Ayuntamiento de Puerto Real se reserva el derecho de no contactar con los usuarios que le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a "Derechos de Propiedad Intelectual e industrial".<br><br>
        En el supuesto que el Ayuntamiento de Puerto Real, a su entera discreción, decidiera contactar con determinados usuarios, éstos conocen y aceptan que por ello el Ayuntamiento de Puerto Real no adquiere compromiso alguno.</li>

      <li>C. Publicidad o difusión de los contenidos presentados: Los participantes en Decide Puerto Real declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en la web <a href="http://www.puertoreal.es" target="_blank" title="(se abre en ventana nueva)">www.puertoreal.es</a>, así como a través de otros medios que la organización considere oportunos para dar a conocer esta iniciativa.</li>

      <li>D. No devolución material: El Ayuntamiento de Puerto Real carece de obligación alguna de devolver el Contenido remitido por los usuarios.</li>
      <li>E. Procedimiento de aviso y retirada: El Ayuntamiento de Puerto Real procesará las peticiones de eliminación o retirada de contenidos que incumplan las condiciones de uso que hayan añadido los participantes. Asimismo, cualquier persona, con motivos razonados si existe incumplimiento de las presentes condiciones de uso, podrá solicitar la retirada de contenidos al Ayuntamiento de Puerto Real. El Ayuntamiento de Puerto Real se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.</li>
    </ul>

    <h3>7. Política de privacidad y protección de datos</h3>
    <ul>
      <li>A. Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara, con la aceptación de las presentes Condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que además lo remite al Ayuntamiento de Puerto Real de forma voluntaria para su divulgación en Decide Puerto Real.<br><br>
        La titularidad de todos y cada uno de los Contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos, por el Derecho de la Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de los mencionados Contenidos.<br><br>
        El Ayuntamiento de Puerto Real no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación, divulgación y/o difusión de los contenidos aportados sin el preceptivo consentimiento de sus legítimos titulares.<br><br>
        El Ayuntamiento de Puerto Real respetará todos los Derechos de Propiedad Intelectual o Industrial sobre el contenido remitido por los usuarios. Cualquier vulneración de los Derechos de Propiedad Intelectual o Industrial será responsabilidad de la persona que aporte el contenido.<br><br>
        El Ayuntamiento de Puerto Real, por la mera recepción del contenido, no recibe del usuario licencia alguna de propiedad intelectual o industrial, por lo que no hará uso del contenido salvo aceptación expresa de su titular.</li>
      <li>B. Protección de datos: Los datos personales aportados por los usuarios que se registren en Decide Puerto Real, serán tratados con la finalidad de gestionar los procesos participativos para el control de la habilitación de las personas que participan en los mismos y recuento meramente numérico y estadístico de los resultados derivados de los procesos de participación ciudadana y envío de información solicitada. El órgano responsable del fichero es la Dirección competente en materia de Participación Ciudadana, ante la que la persona interesada podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, todo lo cual se informa en cumplimiento del artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</li>
    </ul>

    <p>Como principio general, los datos personales no serán comunicados a terceros, excepto cuando la comunicación haya sido autorizada por el usuario, o la información sea requerida por la autoridad judicial, ministerio fiscal o la policía judicial, o se de alguno de los supuestos regulados en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</p>
    <ul>
      <li>Los derechos de acceso, rectificación, cancelación y oposición, se podrán ejercitar dirigiendo una comunicación por escrito al Ayuntamiento de Puerto Real, Área de Participación Ciudadana, Jefatura de Participación Ciudadana.</li>
    </ul>

    <h3>8. Normativa aplicable</h3>
    <p>Las normas del ordenamiento jurídico español rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes.</p>
    <h3>9. Revisión de las condiciones de uso</h3>
    <p>El Ayuntamiento de Puerto Real se reserva el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando Decide Puerto Real, se entenderán aceptadas las modificaciones introducidas.</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
