@import 'social-share-button';
@import 'foundation_and_overrides';
@import 'fonts';
@import 'icons';
@import 'mixins';
@import 'admin';
@import 'layout';
@import 'participation';
@import 'pages';
@import 'legislation';
@import 'legislation_process';
@import 'community';
@import 'custom';
@import 'c3';
@import 'annotator.min';
@import 'annotator_overrides';
@import 'jquery-ui/datepicker';
@import 'datepicker_overrides';
@import 'jquery-ui/autocomplete';
@import 'autocomplete_overrides';
@import 'jquery-ui/sortable';
@import 'leaflet';


// NYC - Customization
.wrapper {
  margin-bottom: -5rem;
}

.footer {
  min-height: 5rem;
}

.top-bar-title {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 40em) {
  .large-mobile-checkboxes {
    input[type='checkbox'] {
      width: 2rem;
      height: 2rem;
    }
  }
}

.max-headings-label {
  color: white;

  .current-of-max-headings {
    color: #ccc;
  }
}

.logo img {
  width: inherit;
}

@media only screen and (min-width: 64em) and (max-width: 85em) {
  .button {
    &.button-facebook, &.button-twitter, &.button-google {
      &::before {
        padding: 0 0.25em;
      }
    }
  }
}

.pagination li {
  display: inline-block !important;
}