// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.button.hollow {
  border: 1px solid $dark;
  color: $dark;
}

.button.hollow:hover {
  border-color: $brand;
  color: $brand;
}

.poll-question-answers {

  .button {
    margin-right: $line-height / 4;
    min-width: 1rem;

    &.answered {
      background: #f4f8ec;
      border: 2px solid #92ba48;
      color: $text;
      position: relative;

      &::after {
        background: #92ba48;
        border-radius: rem-calc(20);
        content: '\6c';
        color: #fff;
        font-family: "icons" !important;
        font-size: rem-calc(12);
        padding: $line-height / 4;
        position: absolute;
        right: -6px;
        top: -6px;
      }
    }
  }
}

//Alvaro
.button {

  color: #ffffff;
  background-color: $dark;

  &:hover {
    text-decoration: none !important;
    background-color: $brand;
  }

  &.warning,
  &.warning:hover {
    color: #000;
  }
}

.dark-heading {
  background: #6f0056;
  color: #fff;
}

.top-links a{
  &:hover {
    color: #ffffff;
  }
}

a {
  color: $dark;

  &:hover,
  &:active {
    color: $brand;
    text-decoration: underline;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $link-hover;
    }
  }

  &:focus {
    outline: 0px;
  }
}

.subnavigation {

  @include breakpoint(medium) {
    background: #fff;
    padding-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      @include breakpoint(medium) {
        display: inline-block;
        margin-right: rem-calc(20);
      }
    }
  }

  a {
    color: #fff;
    display: inline-block;
    line-height: $line-height * 2;
    position: relative;
    text-align: left;
    width: 100%;

    @include breakpoint(medium) {
      color: $text;
      display: block;
      font-weight: bold;
      width: auto;

      &:hover {
        color: $brand;
      }
    }

    &.active {
      color: #fff;

      @include breakpoint(medium) {
        border-bottom: 2px solid $brand;
        color: $brand;
      }
    }
  }

  .input-group {
    padding-top: $line-height / 4;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  .input-group-field {
    margin-bottom: 0 !important;
  }

  .input-group-button {
    line-height: $line-height * 1.5;
    padding-bottom: 0;

    button {
      background: $border;
      border: 1px solid #ccc;
      border-left: 0;
      color: $text;
      height: $line-height * 1.5;
      line-height: $line-height * 1.5;
      padding-top: 0;
    }
  }

  input {
    height: $line-height * 1.5 !important;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }
}

.submenu a{

  @include breakpoint(medium) {
    background: #fff;
    padding-bottom: 0;
  }

  &:hover {
    color: $brand;
  }
}
//////////////////////////////////////////////////////
//Formulario Login
.auth-image {
  background: $brand image-url('auth_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(medium) {
    min-height: $line-height * 33;
  }

  h1 {
    margin-top: $line-height;

    img {
      height: rem-calc(80);
      width: rem-calc(80);
    }

    a {
      color: #fff;
      display: block;
      line-height: rem-calc(80); // Same as logo image height
      text-align: center;

      @include breakpoint(medium) {
        display: inline-block;
        text-align: left;
      }
    }
  }
}
.auth-form {
  padding: 1.5rem;
  background-color: white;

  p,
  a,
  .checkbox {
    font-size: $small-font-size;
  }
}
#logologin{
  max-width: 60%;
  margin-top: 5%;
  margin-left: 0px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
//Formulario Login
//////////////////////////////////////////////////////

$admin-color: #b78500;

.admin {

  .top-links {
    background: darken($admin-color, 15%);
    color: #fff !important;
  }

  .top-bar {
    background: $admin-color !important;
    height: auto;
    color: #fff !important;
  }

  .menu.simple .active {
    border-bottom: 2px solid $admin-color;
    color: $admin-color;
  }
}

.adminFooter {
  background: $border;
  border-top: 6px solid $admin-color;
  margin-top: $line-height * 2;
  padding-top: $line-height;
}

.admin-sidebar {

  ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;

    [class^="icon-"] {
      color: $admin-color;
      display: inline-block;
      font-size: rem-calc(24);
      line-height: $line-height;
      padding: $line-height / 2 $line-height / 4;
      padding-left: 0;
      vertical-align: middle;
    }
  }

  li .active a {
      background: #f3f6f7;
      border-radius: rem-calc(6);
      color: $admin-color;
      font-weight: bold;
  }

  li a:hover {
      background: #f3f6f7;
      border-radius: rem-calc(6);
      color: $admin-color;
      text-decoration: none;
  }

  .is-accordion-submenu-parent {

    > a::after {
      border-color: $admin-color transparent transparent;
    }
  }
}

.legislation-draft-versions-form {

  .fullscreen {

    .fullscreen-container {
      text-align: left;
      background: $admin-color;
      padding: 0.5rem 1rem;
      margin-bottom: 0;
    }

  }
}

.column{
  min-height: 1px;
}
